# NYC Public School System EDA: Before and After the Covid-19 Pandemic Lockdown
# Data Transformation
___

# *Dataset Details Overview*

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [4]:
#Store NYC public school CITYWIDE & BOROUGH demographic dataset file paths in variables for readability
demo_path = ("/Users/sa14/Desktop/EducationCapstone Sprint0 EDA/data/2019-20_NYCSchools_DemographicSnapshot.csv")

boro_demo_path = ("/Users/sa14/Desktop/EducationCapstone Sprint0 EDA/data/2019-20 BOROUGH Demographic_Snapshot.csv")

#Load NYC public school CITYWIDE & BOROUGH demographic dataset csvs as a dataframes
df = pd.read_csv(demo_path)

boro_dem_df = pd.read_csv(boro_demo_path)

In [3]:
#Store NYC public school graduation rate dataset file path in variable for readability
grad_path = ("/Users/sa14/Desktop/EducationCapstone Sprint0 EDA/data/NYCTotalGraduationResults_Cohorts2012-19_Clases2016-23.csv")

#Load NYC public school demographic dataset csv as a dataframe
grad_df = pd.read_csv(grad_path)

#Store NYC public school chronic absenteeism dataset file path in variable for readability
abs_path = ("/Users/sa14/Desktop/EducationCapstone Sprint0 EDA/data/2016-17_2020-23_NYC_EOY-Attendance_ChronicAbsenteeism_Data.csv") 

#Load NYC public school absenteeism dataset csv as a dataframe
abs_df = pd.read_csv(abs_path)

In [5]:
#Get the first rows of the NYC public school demographic dataset dataframe
df.head()

,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,2015-16,1133963,71847,84386,87804,86930,85309,81287,79581,76798,...,0.021,167465,0.148,222496,0.196,142506,0.126,801696,0.707,0.621
1,2016-17,1141232,72553,82517,86008,86279,85050,84185,80563,78985,...,0.023,169803,0.149,228347,0.200,153466,0.134,800985,0.702,0.610
2,2017-18,1135334,71528,81588,83578,83978,84363,83367,83277,79114,...,0.025,170417,0.150,231910,0.204,153661,0.135,856483,0.754,0.719
3,2018-19,1126501,73904,78627,81908,81205,81706,82510,82044,81289,...,0.027,169583,0.151,234497,0.208,148815,0.132,834003,0.740,0.713
4,2019-20,1131868,87480,78587,79171,80298,79555,80287,81513,80250,...,0.031,170370,0.151,230983,0.204,142386,0.126,821883,0.726,0.719